fastapi==0.115.0
uvicorn[standard]==0.30.6
streamlit==1.42.0
websockets==13.0

faster-whisper==1.1.0
pyannote.audio==3.3.2

torch==2.2.2
torchaudio==2.2.2

ffmpeg-python==0.2.0
yt-dlp
opencv-python-headless
soundfile
numpy==1.26.4
python-multipart
pydantic==2.10.0
python-dotenv